<script type="text/template" id="cluster-template">
	<div class="cluster-title">
		<span class="counter"><%% print(ideas_count || 0); %></span>
		<span class="title"><%%= title %></span>
		<div class="arrow" style="display:none;"></div>
		<div class="arrow-border" style="display:none;"></div>
	</div>
	<div class="cluster-ideas"></div>
</script>