<script type="text/template" id="clusterateview-template">
	<input type="text" name="idea" id="new-cluster" placeholder="Add a cluster">
	<div class="help autowidth" style="display:block;">
		Drag and drop ideas into the clusters
	</div>
	<div class="clear" id="clusterlist"></div>
	<div class="clear" id="unsortedlist"></div>
</script>