<script type="text/template" id="exportview-template">
	<h1>Export the results</h1>
	<div class="help autowidth" style="display:block;">
		Check out the final scores and <a id="download-results" href="javascript:void(0);" target="_blank">download</a> your brainstorm results
	</div>
	<div class="clear" id="resultlist"></div>
	<div class="clear" id="clusteredresultlist"></div>
</script>