<script type="text/template" id="ideateview-template">
	<div id="start-help" class="help">
		<a class="close"href="javascript:void(0);">&#x2573;</a>
		<h1>Welcome to your brainstorming session</h1>
		Copy & paste this url to your teammates so that they can collaborate with you:<br/>
		<input id="start-help-url" readonly type="text" value=""/>
	</div>
	<input type="text" name="idea" id="new-idea" placeholder="Add an idea">
	<div class="clear" id="idealist"></div>
</script>