<!-- This one-liner is on purpose, so that white-space: pre; doesn't break. -->
<script type="text/template" id="message-template"><div class="arrow"></div><%%= text %><div class="author"><%%= author %></div></script>