<script type="text/template" id="prioritizeview-template">
	<h1>Pick the ideas you prefer</h1>
	<div class="help autowidth" style="display:block;">
		You have <span id="remaining-votes">5</span> votes remaining.
	</div>
	<div class="clear" id="p-clusterlist"></div>
</script>