<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<title>Melee</title>
		
	<script src="/js/vendor/jquery-1.5.1.min.js"></script>
	<script src="/js/vendor/underscore.js"></script>
	<script src="/js/vendor/backbone.js"></script>
	<script src="/js/melee.js"></script>
	
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" charset="utf-8">
	
	<script type="text/template" id="idea-template">
		<div class="idea-delete">×</div>
		<span class="idea-title">
			<%%= title %>
		</span>
	</script>
	<script type="text/template" id="idealistview-template">
		<h1>Ideias</h1>
	</script>
	
	<script type="text/template" id="startsession-template">
		<span id="new-session">START!</span>
	</script>
	
	<script type="text/template" id="ideateview-template">
		<input type="text" name="idea" id="new-idea" placeholder="Add an idea">
		<div id="idealist"></div>
	</script>
	<script>
		$(function() {
			<%= yield %>
			window.melee = new Melee();
			Backbone.history.start({pushState : true});
		});
	</script>
</head>

<body>
	<nav>
		<a id="menu_ideate" href="#">Ideate</a>
		<a id="menu_cluster" href="#">Cluster</a>
		<a id="menu_prioritize" href="#">Prioritize</a>
		<a id="menu_export" href="#">Export</a>
	</nav>
	<div id="melee">
		
	</div>	
</body>
</html>
