@import "bootstrap.less";

@ff: "Helvetica Neue", Helvetica, Arial, sans-serif;
@mono: 'Droid Sans Mono', Courier, "Courier New", monospace;
@bg: #eee; /* main page background color */
@sb: 130px; /* sidebar size */

body {
	background: @bg;
	padding: 0px;
	margin: 0;
	color: #444;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
	text-decoration: none;
}

nav {
	background: #333;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin-left: -@sb;
	width: @sb;
	#gradient > .vertical(#333,#000);
	z-index: 5;
	/*padding-top: 30px;*/

	span {
		text-align: right;
		font-size: 12px;
		font-weight: bold;
		color: #aaa;
		display: block;
		padding: 15px 15px;
		background: #222;
		border-bottom: 1px solid #333;
	}
	
	span.current {
		background-color: black !important;
		color: yellow;
	}
	
	#menu_ideate { background: #222 url("/images/ideate.png") no-repeat 15px}
	#menu_cluster { background: #222 url("/images/cluster.png") no-repeat 12px}
	#menu_prioritize { background: #222 url("/images/prioritize.png") no-repeat 12px}
	#menu_export { background: #222 url("/images/export.png") no-repeat 14px}
	#menu_collaborate {
		bottom: 0;
		position: absolute;
		left: 0;
		right: 0;
		background: #222 url("/images/collaborate.png") no-repeat 14px;
	}
}

#chat {
	background: #333;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	#gradient > .vertical(#333,#000);
	z-index: 1;
	width: 260px;
	margin-left: -260px;
	background: #111;
}

#melee {
	background: @bg;
	padding: 40px;
	position: relative;
}

/* ideate */

.idea {
	padding: 15px;
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	#gradient > .vertical(#fff999,#fff000);
	.border-radius(4px);
	.box-shadow;
	font-size: 11px;
	line-height: 1.5em;
	font-family: 'Droid Sans Mono', Courier, "Courier New", monospace;
	
	.idea-delete {
		display: none;
		margin-right: -20px;
		margin-top: -20px;
		width: 20px;
		height: 20px;
		float: right;
		cursor: pointer;
	}
}

#new-idea, #new-cluster {
	padding: 5px;
	font-size: 24px;
	font-family: @ff;
	font-weight: bold;
	width: 100%;
	margin-bottom: 20px;
}

/* cluster */
#clusterlist, #unsortedlist {
	clear: both;
}

.cluster-separator {
	clear:both;
}

.cluster {
	border: 3px dashed gray;
	padding: 5px;
	margin: 5px;
	float: left;
	.border-radius(15px);
	
	.cluster-title {
		font-size: 48px;
		color: gray;
		position: relative;
		
		.counter {
			right: -15px;
			top: -15px;
			height: 20px;
			position: absolute;
			background: darkgray;
			font-size: 16px;
			padding: 0px 6px 0px 6px;
			font-weight: bold;
			color: white;
			border-top: 3px groove white;
			border-left: 3px groove white;
			border-right: 3px ridge white;
			border-bottom: 3px ridge white;
			.border-radius(20px);
			cursor: pointer;
		}
		
		.arrow, .arrow-border {
			border-color: transparent transparent black transparent;
			border-style: solid;
			border-width: 20px;
			width: 0px;
			height: 0px;
			position: absolute;
			bottom: -15px;
		}
		
		.arrow {
			border-color: transparent transparent #333 transparent;
			bottom: -20px;
			z-index: 20;
		}
	}
	
	.cluster-ideas {
		display: block;
		position: absolute;
		right: 0px;
		left: 0px;
		margin-top: 15px;
		border-top: 3px solid black;
		z-index: 10;
		
		> div {
			#gradient > .vertical(#333,#000);
			clear:both;
			float:left;
			width: 100%;
			min-height: 95px;
			padding-top: 15px;
			
			.idea  {
				margin-left: 15px;
				margin-right: 0px;
				width: 50px;
				height: 50px;
				font-size: 8px;
			}
		}
		
		h1 {
			display: none;
		}
	}
}

#chat {
	.message {
		margin: 10px;
		background: #0099ff;
		color:white;
		white-space: pre;
		padding: 5px;
		position: relative;

		.arrow {
			border: 10px solid #0099ff;
			position: absolute;
			z-index: -1
		}
		.author {
			color:black;
		}
	}

	.message.in {
		margin-left: 40px;

		.arrow {
			right: 5px;
			border-color: transparent #0099ff transparent transparent;
			bottom: -5px
		}
	}

	.message.out {
		margin-right: 40px;

		.arrow {
			left: 5px;
			border-color: transparent transparent transparent #0099ff;
			top: -5px;
		}
	}

	#chat_input {
		position: absolute;
		height: 40px;
		bottom: 6px;
		right: 10px;
		left: 40px;
		color: #222;
		border:none;
		background:lightgray;

		.arrow {
			border: 10px solid #0099ff;
			position: absolute;
			z-index: -1;
			right: 5px;
			border-color: transparent #0099ff transparent transparent;
			bottom: -5px
		}
	}

	#chat_input .arrow {
		border-color: transparent lightgray transparent transparent;
	}
	#textarea_chat {
		position: absolute;
		border: none;
		outline: none;
		background: none;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	#messages {
		position: absolute;
		top: 50%;
		bottom: 46px;
		right: 0;
		left: 0;
		overflow-y: auto;
		overflow-x: hidden;
	}

	#users {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 50%;
		overflow-y: auto;
		overflow-x: hidden;
		
		.user {
			color: #aaa;
			padding: 3px;
		}
	}
	
	.modal {
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: black;
		z-index: 10;
		opacity: 0.8;
	}
	
	#change_nickname {
		display: none;
		position: absolute;
		top: 20px;
		z-index: 11;
		color: white;
		text-align: center;
		left: 0;
		right: 0;
	}
}

